[defaults]
roles_path = ./.ansible/roles:./roles
collections_path = ./.ansible/collections
retry_files_enabled = false
nocows = 1
interpreter_python = auto_silent
inject_facts_as_vars = false
vars_plugins_enabled = host_group_vars, community.sops.sops

[community.sops]
binary = ./scripts/secrets/sops.sh
age_key_cmd = ./scripts/secrets/age-keychain.sh
valid_extensions = .sops.yml
handle_unencrypted_files = error
