---
- name: Install Argo CD manifests
  ansible.builtin.include_tasks: install.yml
  when: argocd_state == 'present'

- name: Generate Argo CD readonly token
  ansible.builtin.include_tasks: generate-readonly-token.yml
  when: argocd_state == 'present'

- name: Uninstall Argo CD
  ansible.builtin.include_tasks: uninstall.yml
  when: argocd_state == 'absent'
