---
- name: Install ArgoCD manifests
  ansible.builtin.include_tasks: install.yml
  when: argocd_state == 'present'

- name: Uninstall ArgoCD
  ansible.builtin.include_tasks: uninstall.yml
  when: argocd_state == 'absent'
