---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ metallb_adv_name }}
  namespace: {{ metallb_namespace }}
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/component: advertisement
    app.kubernetes.io/part-of: homelab-playbook
    app.kubernetes.io/managed-by: ansible
spec:
  ipAddressPools:
    - {{ metallb_pool_name }}
